<footer>
    <div class="f-info">
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <i class="fa-solid fa-circle"></i>
            <a href="#">Terms & Conditions</a>
            <i class="fa-solid fa-circle"></i>
            <a href="#">Details</a>
        </div>
        <div class="f-info-brand">
            &copy; 2024 Airdnd. All rights reserved.
        </div>
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-whatsapp"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>   
</footer>